.slider {
  width: 90%;
  margin: 0 auto;
  height: 50vh;
  position: relative;
  border: 2px solid #222;
  border-radius: 20px;
  padding: 5px;
}
.slider__img {
  width: 100%;
  height: 47vh;
}
.slider__clicks {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 0px;
  transform: translateY(50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
.slider__clicks .slider__direction {
  font-size: 2em;
  background-color: #222;
  color: #fff;
  padding: 4px;
  border-radius: 50%;
}

@media (min-width: 550px) {
  .slider {
    display: none;
  }
}
