.product {
  width: 90%;
  height: 56vh;
  margin: 20px auto;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  box-shadow: 2px 4px 20px #aaa;
  text-align: center;
}
.product__img-container .product__img {
  display: block;
  width: 70%;
  height: 45vh;
  margin: 0px auto;
  transition: 0.5s ease-out;
}
.product__img-container .scale-product__img {
  width: 100%;
  height: 48vh;
}
.product__cart {
  position: absolute;
  width: 0%;
  height: 0px;
  overflow: hidden;
  bottom: 80px;
  right: 0%;
  transition: 0.5s ease-out;
}
.show-product__cart {
  width: 15%;
  height: 40px;
}

@media (min-width: 600px) {
  .product {
    width: 45%;
  }
}
@media (min-width: 900px) {
  .product {
    width: 32%;
  }
}
