.item {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 10px 0px;
}
.item__display {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 25vh;
}
.item__image {
  height: 100%;
  width: 40%;
  border-radius: 10px;
}
.item__edit {
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn--item {
  background-color: #fff;
  color: rgb(79, 7, 247);
  margin-right: 5px;
  border: none;
  border-bottom: 2px solid #333;
  border-radius: 0%;
}
.btn--item:hover {
  border: 1px solid rgb(79, 7, 247);
  border-radius: 10px;
}
.item .btn-group {
  display: flex;
  margin-top: 10px;
}
.seperator {
  height: 3vh;
  width: 1px;
  background-color: #333;
  margin-top: 5px;
  margin-right: 5px;
}

/* @media (min-width: 700px) {
  .item {
    width: 80%;
    background-color: red;
  }
} */
