.item-modal__bg {
  width: 100%;
  height: 100vh;
  background-color: #333;
  position: fixed;
  top: 0px;
  left: 0;
  opacity: 0.3;
}
.item-modal {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
  padding: 20% 15%;
}
.item-modal__image {
  width: 70%;
}
.item-modal p {
  margin: 5px;
}
.item-modal__btn {
  display: block;
  margin: 8px auto;
  padding: 8px;
}
.item-modal button:first-of-type {
  background-color: rgb(164, 240, 236);
  color: rgb(79, 7, 247);
  margin-bottom: 8px;
}
.item-modal__link {
  display: block;
  border: 1px solid #ccae07;
  color: #ccae07;
  background-color: #fff;
  margin: 8px auto;
  width: 100px;
}

@media (min-width: 500px) {
  .item-modal {
    width: 450px;
    height: 70vh;
    top: 20vh;
    left: 50%;
    padding: 20px;
  }
}
