.sidebar {
  width: 0px;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: 0.5s ease-out;
  background-color: #fff;
  z-index: 10;
  font-size: 1.5em;
}
.show-sidebar {
  padding: 6.8% 5%;
  width: 100%;
}
.sidebar__cancel {
  color: red;
  margin-bottom: 15px;
}
.sidebar h1 {
  margin-top: 5vh;
}
