$primary-color: rgb(79, 7, 247);
$secondary-color: rgb(123, 72, 243);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  //   background-color: $primary-bg;
}

.container {
  width: 90%;
  margin: 0px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  background-color: $primary-color;
  color: #fff;
  height: 80px;
  &__logo {
    font-size: 2em;
    span {
      font-size: 0.6em;
    }
  }
  &__cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
    padding: 2px;
    border-radius: 5px;
    .header__cart {
      font-size: 1.4em;
      margin-right: 5px;
    }
  }
}
