$primary-color: rgb(79, 7, 247);
$secondary-color: rgb(123, 72, 243);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  //   background-color: $primary-bg;
}

.container {
  width: 90%;
  margin: 0px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5%;
  height: 80px;
  &__start {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    font-size: 2em;
    margin-left: 20px;
  }
  &__cart {
    font-size: 1.4em;
    margin-right: 5px;
  }
}
